<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Digit dash
        {% endblock title %}
    </title>
</head>
<body>

{% if user.is_authenticated %} 
    <a href="{% url 'home' %}">Home page</a>
    <a href="{% url 'logoutUser' %}">Logout</a>
    <a href="{% url 'profileInformation' %}">Your Profile</a>
    <a href="{% url 'editProfile' %}">Edit Profile</a>
    <a href="{% url 'topUpAccountBalance' %}">Top Up your account</a>
    <p>You are loged in as:</p>
    <p>{{user.username}}</p>
{% else %}
    <a href="{% url 'register' %}">Registration</a>
    <a href="{% url 'loginUser' %}">Login</a>
{% endif %}

    {% block content %}


    {% endblock content %}
</body>
</html>