
body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.space-beetwen-navbar {
	margin-left: 600px;
}

.logout-color {
	color:#c60606;
}