{% extends 'base.html' %}

{% block title %}
    Game Rules
{% endblock title %}
    

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card background-white border border-secondary">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Hello player!</h3>
                    <h5>Check out rules before you will start the game:</h5>
                    <ul>
                        <li>You have 10 chances to guess the right number.</li>
                        <li>At the beginning of the game, you have 10 points.</li>
                        <li>Each attempt costs you one point.</li>
                        <li>Click one of the buttons to choose your number</li>
                        <li>If you are ready click the button below and have fun!</li>
                    </ul>
                    <div class="text-center mt-4">
                        <a href="{% url 'gameOneOutOfTwenty' %}" class="btn btn-primary">Play Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}