{% extends 'base.html' %}


{% block content %}
    <p>You have played: {{numOfGames}} game{{numOfGames|pluralize}}</p>
    <ol start = "{{start_index}}">
        {% for game in games_on_page %}
            <li>
                <p>Date of game: {{game.gameDate}}</p>
                <p>Your score: {{game.user_score}} point{{game.user_score|pluralize}}</p>
                <p>Lucky nuber: {{game.luckyNumber}}</p>
            </li>
        {% endfor %}
    </ol>    
    {% include "pagination.html" with page=games_on_page %}
{% endblock content %}
    