{% extends 'base.html' %}

{% block title %}About us{% endblock title %}

{% block content %}

<div class="jumbotron">
    <div class="container">
       <div class="row">
          <div class="card background-white rounded-2 border border-secondary">
             <div class="col mb-5 ">
                <p class="display-4 text-center mt-5 fw-bold">Digit Dash Team</p>
                <p class="display-7 text-center">We are the members of workshops from Software Development Academy <a href="https://sdacademy.pl/" target="_blank">(SDA)</a> As a result of the traning, we present the project DigitDash. Achievement of our mvp was possible thanks to 291-hour course and individual work during which we gained the knowledge which helped us realize this project. The biggest challenge was finishing the project within 40-hours. During this project we improved technical knowledge and due to the teamwork we reafine:
                  <p><center>&#128153;openness to suggestions, tips and ideas of others</center></p>
                  <p><center>&#128153;communication skills</center></p>
                  <p><center>&#128153;listen carefully</center></p>
                  <p><center>A great project which brought us a lot of satisfaction and happiness. We are going to continoue the project and implement the assimed 'TO DO'.</center</p>
                  <h4><center><b>&#11088;Per aspera as astra&#11088;</center></b></h4>
               </p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Jakub Jasiński</h4>
          <h5><i></i></h5>
          <p>You can find me here:</p>
          <div>

            <span><a href="https://www.linkedin.com/in/jasinski-jakub/" target="_blank"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="http://github.com/JakubJas1997" target="_blank"><img src="/static/images/git-hub-logo.png" alt="GitHub" width="10%" height="10%"></a></span>

            <p></p>
          </div>
       </div>
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Kamila Czajkowska</h4>
          <h5><i>She can't swim and she dived to 15 meters deep&#129343;</i></h5>
          <p>You can find me here:</p>
          <div>
            <span><a href="https://www.linkedin.com/in/kamila-czajkowska/" target="_blank"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="https://github.com/kama1990" target="_blank"><img src="/static/images/git-hub-logo.png" alt="GitHub" width="10%" height="10%"></a></span>

            <p></p>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Anhelina Smuhliy</h4>
          <h5><i></i></h5>
          <p>You can find me here:</p>
          <div>
            <span><a href="https://linkedin.com/in/anhelina-smuhliy-b20200288/" target="_blank"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="https://github.com/smuhliyanhelina" target="_blank"><img src="/static/images/git-hub-logo.png" alt="GitHub" width="10%" height="10%"></a></span>

            <p></p>
          </div>
       </div>
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
         <h4 class="mt-3 fw-bold">Szymon Kowalski</h4>
         <h5><i></i></h5>
         <p>You can find me here:</p>
         <div>
          <span><a href="https://www.linkedin.com/in/szymon-kowalski-843806257/" target="_blank"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
          <span><a href="https://github.com/Kowal1996" target="_blank"><img src="/static/images/git-hub-logo.png" alt="GitHub" width="10%" height="10%"></a></span>
          <p></p>
         </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}