{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block content %}
    <p>This is a final project of Python bootcamp from Software Development Academy (SDA). Our group had 40-class-hours to finish that project. The project was finish in a four-person team.</p>
    <p>Something about us:</p>
    <p>Jakub Jasiński: &#10084;frontend <a href="https://www.linkedin.com/in/jasinski-jakub/"><img  align="left" alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a>
    </p>
    <p>Kamila Czajkowska: She can't swim but she dived to 15 meters deep<a href="https://www.linkedin.com/in/kamila-czajkowska/"><img align="left" alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></p>
    <p>Anhelina Smuhliy <a href="#"><img align="left" alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></p>
    <p>Szymon Kowalski <a href="https://www.linkedin.com/in/szymon-kowalski-843806257/"><img  align="left" alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></p>
{% endblock content %}
    
    