{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="jumbotron">
    <div class="container">
       <div class="row">
          <div class="card background-white rounded-2 border border-secondary">
             <div class="col mb-5 ">
                <p class="display-4 text-center mt-5 fw-bold">Digit Dash Team</p>
                <p class="display-7 text-center">This is a final project of Python bootcamp from Software Development Academy (SDA). Our group had 40-class-hours to finish that project. The project was finish in a four-person team.</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Jakub Jasiński</h4>
          <h5><i></i></h5>
          <p>You can find me here:</p>
          <div>
            <span><a href="https://www.linkedin.com/in/jasinski-jakub/"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="http://github.com/JakubJas1997"><img class="about-image" src="/static/images/git-hub-logo.png" alt="GitHub" width="15%" height="15%"></a></span>
            <p></p>
          </div>
       </div>
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Kamila Czajkowska</h4>
          <h5><i>She can't swim and she dived to 15 meters deep&#129343;</i></h5>
          <p>You can find me here:</p>
          <div>
            <span><a href="https://www.linkedin.com/in/kamila-czajkowska/"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="https://github.com/kama1990"><img class="about-image" src="/static/images/git-hub-logo.png" alt="GitHub" width="15%" height="15%"></a></span>
            <p></p>
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
          <h4 class="mt-3 fw-bold">Anhelina Smuhliy</h4>
          <h5><i></i></h5>
          <p>You can find me here:</p>
          <div>
            <span><a href="https://linkedin.com/in/anhelina-smuhliy-b20200288/"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
            <span><a href="https://github.com/smuhliyanhelina"><img class="about-image" src="/static/images/git-hub-logo.png" alt="GitHub" width="15%" height="15%"></a></span>
            <p></p>
          </div>
       </div>
       <div class="col background-white m-4 text-center rounded-2 border border-secondary">
         <h4 class="mt-3 fw-bold">Szymon Kowalski</h4>
         <h5><i></i></h5>
         <p>You can find me here:</p>
         <div>
          <span><a href="https://www.linkedin.com/in/szymon-kowalski-843806257/"><img alt="linked-in" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"></a></span>
          <span><a href="#"><img src="/static/images/git-hub-logo.png" alt="GitHub" width="15%" height="15%"></a></span>
          <p></p>
         </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}