{% extends 'base.html' %}


{% block title %}Password reset{% endblock title %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card background-white border border-secondary">
                    <div class="card-body">
                        <h3 class="mb-4 text-center">Password changed</h3>
                        <p class="text-center">You can log in now by clicking the button bellow.</p>
                        <p class="text-center"><a class="btn btn-primary" href="{% url 'loginUser' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>     
{% endblock content %}
    
      