{% extends 'base.html' %}


{% block title %}Password reset{% endblock title %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card background-white border border-secondary">
                    <div class="card-body">
                        <h3 class="mb-4 text-center">Password reset</h3>
                        <p class="text-center">We have sent you an email with instructions on how to reset your password.</p>
                        <p class="text-center">If you have not received this message, make sure that you have entered the e-mail address provided when creating your user account.</p>
                        <p class="text-center"><a class="btn btn-primary" href="{% url 'home' %}">Home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>      
{% endblock content %}

