{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Password Change</h3>
                    <p>Fill out the form to change your password</p>
                    <form action="." method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}