{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock title %}
    

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card background-white border border-secondary">
                <div class="card-body">
                    <h3 class="mb-4 text-center">Password changed</h3>
                    <p class="text-center">Your password has been successfully changed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}