{% extends 'base.html' %}


{% block title %}Pasword reset{% endblock title %}


{% block content %}
    {% if validlink%}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card background-white border border-secondary">
                        <div class="card-body">
                            <h3 class="mb-4 text-center">Password reset</h3>
                            <p class="text-center">Enter the new password twice</p>
                            <form action="." method="post">
                                {{ form.as_p }}
                                {% csrf_token %}
                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card background-white border border-secondary">
                        <div class="card-body">
                            <h3 class="mb-4 text-center">Invalid link</h3>
                            <p class="text-center">The link to reset your password is invalid because it has probably been used before. You must start the password reset procedure again.</p>
                            <p class="text-center"><a class="btn btn-primary" href="{% url 'home' %}">Home</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    {% endif %}
{% endblock content %}
