{% extends 'base.html' %}


{% block title %}Forgot password{% endblock title %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card background-white border border-secondary">
                    <div class="card-body">
                        <h3 class="mb-4 text-center">Password reset</h3>
                        <p class="text-center">Please enter your email address to reset your password</p>
                        <div class="text-center">
                            <form action="." method="post">
                                {{ form.as_p }}
                                {% csrf_token %}
                                <div>
                                    <button type="submit" class="btn btn-primary">Send email</button>
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock content %}
    
