{% extends 'base.html' %}
{% block content %}
<div>
    <p>Your username</p>
    <p>{{profile_info.owner}}</p>
    <p>Your account balance</p>
    <p>{{profile_info.account_balance}}</p>
    <p>Your country</p>
    <p>{{profile_info.country}}</p>
    <p>Your city</p>
    <p>{{profile_info.city}}</p>
    <p>Your picture</p>
    <img src="{{profile_info.pictures.url}}" alt="Your Picture">
    <p><a href="{% url 'password_change' %}">password change</a></p>
    <p><a href="{% url 'userGames' %}">Your games</a></p>
    <p><a href="{% url 'deleteUser' %}">Delete account</a></p>
</div>




{% endblock content %}