{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}
    

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card background-white border border-secondary">
                <div class="card-body text-center">
                    <h3 class="mb-4 ">Registration successfull!</h3>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}