<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if passwordError %}
        <h3>Błąd walidacji hasła</h3>
        <ul>
            {% for message in passwordError %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
    {{userForm}}
    {{profileForm}}
    {% csrf_token %}
    <button type="submit">Register!</button>
    </form>
</body>
</html>